.block1 {
    height: 500px;
    width:600px;
    margin:0 auto;
    margin-top:50px;
    background-color: #0d5825;
    border:3px solid blue;
    padding: 20px;
}

.quote-container {
    margin-top:20px;
    padding: 20px;
    text-align: center;
}

.text {
    font-size: 25px;
    color:white;
}

.cards {
    padding: 30px;
    text-align: center;
    margin-top: 50px; 
}

.card {
    width: 150px;
    height: 200px;
    margin: 0;
    margin-inline: -55px;
    transform-origin:center;
    transition: transform 0.3s ease-in-out;
}

.card1 {
    transform: translateY(5px) rotate(-25deg);
    z-index: 1;
}

.card1:hover {
    transform:  translateY(-15px) rotate(-25deg);
}

.card2 {
    transform: translateY(15px) rotate(-10deg);
    z-index: 2;
}
.card2:hover {
    transform: translateY(-5px) rotate(-10deg);
}

.card3 {
    transform:  translateY(30px) rotate(5deg);
    z-index: 3;
}
.card3:hover {
    transform:  translateY(10px) rotate(5deg);
}
















